<h2 id="title">Welcome to Ember.js</h2>

<form {{action 'authenticate' on='submit'}}>
    <label for="identification">Login</label>
    {{input id="username" value=identification placeholder='Enter Login'}}
    <label for="password">Password</label>
    {{input id="password" value=password placeholder='Enter Password' type='password'}}
    <button id="login-btn" type="submit">Login</button>
</form>
{{outlet}}
